/* Variables (fonts and colors) */
/* HTML reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* Floating element fix */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/* Slides */
div.slide {
  z-index: 20;
  margin: 0 0 0 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0;
  clear: both;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 120%;
  background-color: transparent;
}

div.slide.titlepage {
  text-align: center;
}

div.slide.titlepage h1 {
  padding-top: 10%;
  margin-right: 0;
}

div.slide h1 {
  padding-left: 0;
  padding-right: 20pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 60pt;
  margin-bottom: 0.5em;
  display: block; 
  font-size: 160%;
  line-height: 1.2em;
  background: transparent;
  background-color: #E4E5E7;
  color: "blue";
}

pre {
 font-size: 80%;
 font-weight: bold;
 line-height: 120%;
 padding-top: 0.2em;
 padding-bottom: 0.2em;
 padding-left: 1em;
 padding-right: 1em;
 border-style: solid;
 border-left-width: 1em;
 border-top-width: thin;
 border-right-width: thin;
 border-bottom-width: thin;
 border-color: #95ABD0;
 color: #00428C;
 background-color: #E4E5E7;
}



div.slide.dark {
  background-color: #000; }
  .slide.dark .caption {
    color: #FFF;
    text-align: center;
    font-size: 24px; }

/* Structure elements */
div.slide .content {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  height: 1000px;
  margin: 0px auto;
  position: relative;
  width: 1200px; }
  .slide .content .blue {
    color: #44aee3; }

/* Content elements */
.content .background {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 800px;
  width: auto;
  margin: 0;
  padding: 0; }

.content .bigtext {
  font-size: 32px; }

.content .bottombar {
  background-color: #44aee3;
  bottom: 0px;
  color: #FFF;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  padding: 2px 20px 4px 0px;
  position: absolute;
  left: 0px;
  text-align: right;
  width: 80%; }

.content .caption {
  clear: both;
  margin: 8px 0px 8px 0px;
  display: block;
  text-align: left;
  color: #363636;
  font-size: 26px; }

.content .centered {
  margin: 0px auto; }

.content .column {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 482px; }

.content .dna {
  max-width: 60%;
  word-break: break-all;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: serif;
  line-height: 12px; }

.content h1 {
  border: 0px;
  color: #44aee3;
  font-family: "Lato", sans-serif;
  font-size: 60px;
  margin: 5px 10px 10px 0px;
  padding: 0px; }

.content h2 {
  color: #686868;
  font-family: "Lato", sans-serif;
  font-size: 46px;
  text-align: center;
  margin: 5px 0px 8px 0px; }

.content h3 {
  bottom: 75px;
  border-top: 1px solid #bbbbbb;
  color: #686868;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  position: absolute;
  padding: 4px 4px 0px 4px; }

.content h4 {
  color: #44aee3;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  margin: 10px 0px 4px 0px;
  text-align: left; }

.content img {
  display: block;
  margin: 5px auto 10px auto;
  max-width: 100%; }
  .content img.left {
    display: inline-block;
    float: left;
    margin: 10px 20px 10px 0px; }
  .content img.right {
    display: inline-block;
    float: right;
    margin: 10px 0px 10px 20px; }
  .content img.bordered {
    border: 2px solid #bbbbbb; }
  .content img.tight {
    margin: 2px auto; }

.content li {
  list-style-position: inside;
  margin: 6px 0px; }

.content .biglist {
  margin-top: 10px; }
  .content .biglist li {
    font-family: "Lato", sans-serif;
    font-size: 42px;
    color: #44aee3;
    margin: 5px 0px 5px 0px; }
  .content .biglist .subitem li, .content .biglist .subitem {
    font-size: 32px;
    color: #686868; }

.content .spacer50 {
  width: 100%;
  height: 50px; }

.content .spacer100 {
  width: 100%;
  height: 100px; }

table {
  margin-top: 50px;
  width: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 32px; }
  .content table th {
    font-size: 32px;
    font-family: "Lato", sans-serif;
    color: #44aee3;
    text-align: center;
    font-weight: bold;
    border-bottom: solid 2px #686868;
    margin-bottom: 30px;
    padding: 10px 15px; }
table td {
    padding: 20px 15px; }

.content .title {
  color: #bbbbbb;
  font-family: "Lato", sans-serif;
  font-size: 68px;
  left: 10px;
  line-height: 70px;
  position: absolute;
  top: 220px;
  text-transform: uppercase;
  z-index: 99; }

.content .row {
  margin: 20px auto 0px auto;
  width: 95%; }

.content .subtitle {
  bottom: 90px;
  border-bottom: 2px dashed #686868;
  border-right: 2px dashed #686868;
  color: #bbbbbb;
  font-family: "Lato", sans-serif, sans-serif;
  font-size: 36px;
  line-height: 40px;
  padding: 0 15px 5px 0px;
  position: absolute;
  right: 2px;
  text-align: right;
  width: 430px;
  z-index: 99; }

.content .slide.square {
  position: absolute !important;
  height: 200px;
  width: 200px;
  border: 2px solid #bbbbbb; }

.content video.fullheight {
  display: block;
  height: 92%;
  width: auto;
  margin: 0 auto 1% auto; }

.content video.fullwidth {
  height: auto;
  width: 100%;
  margin: 0 0 1% 0; }
